/*------------------medium screens-----------------*/
@media only screen and (max-width: 767px){
    
    
}/*------------------small screens-----------------*/
@media only screen and (max-width: 480px){
    
    
}/*------------------large screens-----------------*/
@media only screen and (max-width: 1023px){
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
    .long-copy{
        width:80%;
        margin-left: 10%;
    }
    .step.box{
        margin-top: 10px;
    }
    
}/*------------------extra large screens-----------------*/
@media only screen and (max-width: 1199px){
    
    .hero-text-box{
        width:100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
}

